@use '../abstracts/tokens' as *;

nav [data-expandable-container] {
    background-color: inherit;
    margin-bottom: 0;
    padding: 0;
}

[data-expandable-container] {
    margin-bottom: #{$v-spacing--100};
    padding: #{$v-spacing--100} #{$h-spacing--150};
    cursor: pointer;
    background-color: var(--white-base);
    color: var(--secondary-base);
    border-radius: var(--border-radius-25);

    p {
        color: var(--secondary-base);
    }

    [data-expandable-trigger] { 
        margin-right: var(--text-indent--md);
        
        i { 
            vertical-align: top;
            margin-right: calc(var(--text-indent--md) * -1);
        }
    }

    [data-expandable-target] {
        overflow: hidden;
        transition: height 250ms ease-out;
        height: auto;
        margin-right: var(--text-indent--md);

        i {
            transition: $transition--ease-25;
            transform: translateY(0%) rotate(0);
        }
    }

    .accordion-content > * {
        padding-left: #{$h-spacing--300};
        white-space: pre-wrap;
        color: var(--secondary-base);
    }
}

.accordion--border-full [data-expandable-container] {
    position: relative;
    
    [data-expandable-trigger] {
        position: relative;
        i {
            float: none;
            position: absolute; 
            transform: translateY(-50%) rotate(180deg);
            top: 50%;
            right: 0;
        }
    }
}

[data-expandable-container='collapsed'] { 
    [data-expandable-trigger] i { 
        transform: translateY(-50%) rotate(0deg);
    }
}

.accordion--border-full [data-expandable-container='collapsed'] { 
    [data-expandable-trigger] i { 
        transform: translateY(-50%) rotate(0deg);
    }
}

[data-expandable-container='expanded'] {
    [data-expandable-trigger] i {
        transform: translateY(-50%) rotate(180deg);
        color: var(--tertiary-base);
    }
    .accordion-title {
        color: var(--tertiary-base);
        padding-bottom: #{$v-spacing--100};
    }
    .accordion-content {
        padding-bottom: calc(#{$v-spacing--150} - #{$v-spacing--100});
    }
} 

.accordion--border-full [data-expandable-container='expanded'] { 
    [data-expandable-trigger] i { 
        margin-top: calc(#{$v-spacing--50} * -1);
    }
}

[data-expandable-container='collapsed'] [data-expandable-target] {
    height: 0;
}

/*---Accordion Borders --- */

[data-expandable-container] {

    [data-expandable-trigger] > i {
        float: right; 
    }

}

.accordion--border-full [data-expandable-container] {
    border: 1px solid var(--secondary-light-3);
}

.accordion--border-btm [data-expandable-container] {
    border-bottom: 1px solid var(--secondary-light-3); 

    i {
        margin-top: #{$v-spacing--75};
    }
}


.accordion--marketing [data-expandable-container] {
    background-color: var(--tertiary-light-1);
}
