@use '../abstracts/mixins/' as *;
@use '../abstracts' as *;

[data-tab-group] {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    
    &.full-width {
        width: 100%;
    }

    input {
        display: none;
    }
    
    ul {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: #{$v-spacing--150} 0;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-bottom: none;
            position: relative;
            list-style: none;
            padding: #{$v-spacing--100} #{$h-spacing--200};
            flex-wrap: nowrap;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: #{$font-weight--bold};

            @include mediaQuery('tablet-below') {
                flex: 0 0 calc(100% / 3); // showing 3 menu items at a time in tablet screen
            }

            @include mediaQuery('mobile-below') {
                flex: 0 0 calc(100% / 2); // showing 2 menu items at a time in mobile screen
            }

            i {
                display: block;
                margin-right: 0;
                margin-bottom: #{$v-spacing--50};
            }

            &:focus {
                outline: none;
            }
        }
    }
     
    &:has(li label > i){ 
        .tab-scroll { 
            top: 45px;
        }
    }

    .tab-scroll {
        position: absolute;
        z-index: 100;
        padding: 2rem 0;
        top: 20px;
        background-color: var(--white-base);
         
        &--previous {
            left: 0;
        }

        &--next {
            right: 0;
        }

        &.hidden {
            display: none;
        }
    }

    @include mediaQuery('desktop-up') {
        overflow-x: hidden; //remove the scrollable cards on desktop and higher screens
        justify-content: space-around;

        .tab-scroll {
            display: none;
        }
    }

    input[data-tab="1"]:checked ~ [data-tab-content] [data-content="1"],
    input[data-tab="2"]:checked ~ [data-tab-content] [data-content="2"],
    input[data-tab="3"]:checked ~ [data-tab-content] [data-content="3"],
    input[data-tab="4"]:checked ~ [data-tab-content] [data-content="4"],
    input[data-tab="5"]:checked ~ [data-tab-content] [data-content="5"],
    input[data-tab="6"]:checked ~ [data-tab-content] [data-content="6"],
    input[data-tab="7"]:checked ~ [data-tab-content] [data-content="7"],
    input[data-tab="8"]:checked ~ [data-tab-content] [data-content="8"],
    input[data-tab="9"]:checked ~ [data-tab-content] [data-content="9"],
    input[data-tab="10"]:checked ~ [data-tab-content] [data-content="10"]
    {
        display: block;
    }
    
    input[data-tab="1"]:checked ~ ul > li:nth-child(1),
    input[data-tab="2"]:checked ~ ul > li:nth-child(2),
    input[data-tab="3"]:checked ~ ul > li:nth-child(3),
    input[data-tab="4"]:checked ~ ul > li:nth-child(4),
    input[data-tab="5"]:checked ~ ul > li:nth-child(5),
    input[data-tab="6"]:checked ~ ul > li:nth-child(6),
    input[data-tab="7"]:checked ~ ul > li:nth-child(7),
    input[data-tab="8"]:checked ~ ul > li:nth-child(8),
    input[data-tab="9"]:checked ~ ul > li:nth-child(9),
    input[data-tab="10"]:checked ~ ul > li:nth-child(10) 
    {
        border-bottom: 4px solid var(--primary-base);
        padding-bottom: calc(#{$v-spacing--100} - 4px);
    }

    &.vertical-tabs {
        @include mediaQuery('desktop-up') {
            
            display: flex;
            justify-content: flex-start;
            ul {
                display: flex;
                flex-direction: column;
                border-bottom: none;
                flex: 0 0 calc(100% / 5);
                padding: #{$v-spacing--150} 0;
            }

            li {
                width: auto;
                min-height: 65px;
                background-size: cover;
                border-bottom: none;
                flex-direction: row;
                justify-content: flex-start;
                
                label { 
                    display: flex;
                    word-wrap: break-word;
                    word-break: break-all;
                    text-align: left;
                                    
                    i {
                        margin-right: var(--icon--margin--md);
                        margin-bottom: none;
                        display: inline;
                        vertical-align: middle;
                    }
                }


            }
            
            input[data-tab="1"]:checked ~ ul > li:nth-child(1),
            input[data-tab="2"]:checked ~ ul > li:nth-child(2),
            input[data-tab="3"]:checked ~ ul > li:nth-child(3),
            input[data-tab="4"]:checked ~ ul > li:nth-child(4),
            input[data-tab="5"]:checked ~ ul > li:nth-child(5),
            input[data-tab="6"]:checked ~ ul > li:nth-child(6),
            input[data-tab="7"]:checked ~ ul > li:nth-child(7),
            input[data-tab="8"]:checked ~ ul > li:nth-child(8),
            input[data-tab="9"]:checked ~ ul > li:nth-child(9),
            input[data-tab="10"]:checked ~ ul > li:nth-child(10) 
            {
                border-bottom: none;
                border-left: 4px solid var(--primary-base);
                padding-left: calc(#{$v-spacing--200} - 4px);
                padding-bottom: #{$v-spacing--100};
            } 

            [data-tab-content] { 
                padding-left: #{$v-spacing--200};
            }
        }
    }

}

[data-tab-content] { 
    
    [data-content] {
        display: none;
    }
    
    &[data-active-tab="1"] [data-content="1"],
    &[data-active-tab="2"] [data-content="2"],
    &[data-active-tab="3"] [data-content="3"],
    &[data-active-tab="4"] [data-content="4"],
    &[data-active-tab="5"] [data-content="5"],
    &[data-active-tab="6"] [data-content="6"],
    &[data-active-tab="7"] [data-content="7"],
    &[data-active-tab="8"] [data-content="8"],
    &[data-active-tab="9"] [data-content="9"],
    &[data-active-tab="10"] [data-content="10"]
    {
        display: block;
    }

} 

section:has([data-tab-group]):first-of-type {
    padding-bottom: 0; 

    nav { 
        height: unset;
        padding: 0;
    }

    [data-tab-group] > ul { 
        margin-bottom: 0;
    }
}

/* Colors */
[data-tab-group] { 
    
    ul { 
        border-bottom: 1px solid var(--secondary-light-3);

        li { 
            color: var(--black-base);
        }
    }

}

[data-tab-group].vertical-tabs { 
    
    ul { 
        border-bottom: none;
        border-left: 1px solid var(--secondary-light-3);
    }

}

section:has([data-tab-group]):first-of-type {
 
    ul { 
        border-bottom: none;
    }

}